<h1>Все карточки</h1>
<ul>
  <% @cards.each do |card| %>
    <li>
      <%= card.original_text %>
      -
      <%= card.translated_text %>
      <%= card.review_date&.strftime('%d/%m/%y') %>
    </li>
  <% end %>
</ul>
